
@font-face {
  font-family: "myfont";
  src: url(".../ocreg.ttf"),format("ttf");
}

body{
    font-family: "myfont";
    margin: 0px;
    background-color: black;
}
 
h1{
  
  color: brown;
  display: flex;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

h2{
  
  color: brown;
  display: flex;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

