
@font-face {
  font-family: "ocr";
  src: url("../fonts/OCRAStd.otf"),format('oft');
}



body{
    font-family: "ocr";
    margin: 0px;
    background-color: black;
}


h1{
  
  color: brown;
  display: flex;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

h2{
  
  color: brown;
  display: flex;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

