
.main {
margin-top: 100px;
}


div > img{

    display: block;
    margin-left: 100px;
    margin-left: 530px;
}

.sam2{
    display: block;
    border: 1px solid #cfd9de;
    width: 530px;
    line-height: 30px;
    border-radius: 60px;
    margin-top: 25px;
    margin-left: 395px;
    padding: 8px;;
}
div p{
    color: violet;
}
