@font-face {
  font-family: 'ocr';
  src: url(./fonts/ocrastd.ttf) format('.ttf');
}

@font-face {
  font-family: 'OCRAStd';
  src: url(./fonts/OCRAStd.woff) format('.woff');
}

body{
  font-family: 'ocr', 'OCRAStd';
    margin: 0px;
    background-color: black;
    
}
 
h1{
  
  color: brown;
  display: flex;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

h2{
  
  color: brown;
  display: flex;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}
